<%= form_for(@good_point) do |f| %>
  <% if @good_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@good_point.errors.count, "error") %> prohibited this good_point from being saved:</h2>

      <ul>
      <% @good_point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :issue_id %><br />
    <%= f.number_field :issue_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :count %><br />
    <%= f.number_field :count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
